---
import { convertPathToHtml } from "../../utils/index.js";
const { path, mainPage, page } = Astro.props;
const htmlPath = convertPathToHtml(path);
---

<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <!--begin::Brand Link-->
    <a href={htmlPath + "/index.html"} class="brand-link">
      <!--begin::Brand Image-->
      <img
        src={path + "/assets/img/AdminLTELogo.png"}
        alt="Lithium-WEB"
        class="brand-image opacity-75 shadow"
      />
      <!--end::Brand Image-->
      <!--begin::Brand Text-->
      <span class="brand-text fw-light">Lithium-WEB</span>
      <!--end::Brand Text-->
    </a>
    <!--end::Brand Link-->
  </div>
  <!--end::Sidebar Brand-->
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <!--begin::Sidebar Menu-->
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class:list={["nav-item", mainPage === "dashboard" && "menu-open"]}>
          <a
            href="#"
            class:list={["nav-link", mainPage === "dashboard" && "active"]}
          >
            <i class="nav-icon bi bi-speedometer"></i>
            <p>
              Dashboard
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                href={htmlPath + "/index"}
                class:list={["nav-link", page === "home" && "active"]}
              >
                <i class="nav-icon bi bi-house"></i>
                <p>Home</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href={htmlPath + "/devicehub"}
                class:list={["nav-link", page === "devicehub" && "active"]}
              >
                <i class="nav-icon bi bi-circle"></i>
                <p>DeviceHub</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href={htmlPath + "/search"}
                class:list={["nav-link", page === "search" && "active"]}
              >
                <i class="nav-icon bi bi-circle"></i>
                <p>Search</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href={htmlPath + "/imageviewer"}
                class:list={["nav-link", page === "imageviewer" && "active"]}
              >
                <i class="nav-icon bi bi-circle"></i>
                <p>ImageViewer</p>
              </a>
            </li>
          </ul>
        </li>
        <li class:list={["nav-item", mainPage === "modules" && "menu-open"]}>
          <a
            href="#"
            class:list={["nav-link", mainPage === "modules" && "active"]}
          >
            <i class="nav-icon bi bi-box-seam-fill"></i>
            <p>
              Module
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                href={htmlPath + "/modules/system"}
                class:list={["nav-link", page === "system" && "active"]}
              >
                <i class="nav-icon bi bi-gear"></i>
                <p>System</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href={htmlPath + "/modules/indiweb"}
                class:list={["nav-link", page === "indiweb" && "active"]}
              >
                <i class="nav-icon bi bi-circle"></i>
                <p>INDIWeb</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href={htmlPath + "/modules/novnc"}
                class:list={["nav-link", page === "novnc" && "active"]}
              >
                <i class="nav-icon bi bi-circle"></i>
                <p>NoVNC</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href={htmlPath + "/modules/webssh"}
                class:list={["nav-link", page === "webssh" && "active"]}
              >
                <i class="nav-icon bi bi-wifi"></i>
                <p>WebSSH</p>
              </a>
            </li>
          </ul>
        </li>
        <li class:list={["nav-item", mainPage === "help" && "menu-open"]}>
          <a
            href="#"
            class:list={["nav-link", mainPage === "help" && "active"]}
          >
            <i class="nav-icon bi bi-box-seam-fill"></i>
            <p>
              Help
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                href={htmlPath + "/help/license.astro"}
                class:list={["nav-link", page === "license" && "active"]}
              >
                <i class="nav-icon bi bi-gear"></i>
                <p>License</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->
